<!DOCTYPE html>
<html>
    <style>
        body {
            background-color: #114;
            color: white;
            font-family: monospace;
            overflow: hidden;
            font-size: 14px;
            user-select: none;
            -moz-user-select: none;
            cursor: pointer;
        }
        p {margin: 0;}
        .address {font-size: 10px;}
        .server-name {
          font-size: 22px;
          margin-top: 5px;
        }
        .error {color: red;}
        .offline {color: gray;}
    </style>
<body onclick="window.location.href = 'byond://{{address}}'">

{% if address is defined %}
    <p class="address">byond://{{address}}</p>
{% endif %}

    <p class="server-name">{{ server_name or '' }}</p>

{% if exception is defined %}
    <p class="error">{{ exception.renderable_message }}</p>
{% elif online is defined %}
    {% if online == "0" %}
        <p class="online">No players online</p>
    {% else %}
        <p class="online">Online: {{online}}</p>
        {% if playtime is defined %}
            <p class="playtime">Round time: {{playtime | readable_time}}</p>
        {% endif %}
    {% endif %}
{% else %}
    <p class="error">
        Invalid widget config.<br />
        Here's an example:<br />
        &nbsp;server=play.ss13.pw:1937<br />
        &nbsp;name=Solarstation
    </p>
{% endif %}
</body>

</html>
